<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveAppImitateInk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BD14C8E1D9B4F0A006E5834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BD14CA71D9B4F0A006E5834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BD14CB21D9B4F0A006E5834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
